<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= label.name %>
        </p>
      </div>
    </div>
    <p class="level-item">
      <%= link_to "Excluir", post_label_path(@post, label), method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "button is-danger" %>
    </p>
  </article>
</div>