<% content_for :page_title, "Blog de exemplo para CI1010" %>
<% content_for :page_subtitle, "Guilherme M. Lopes dos Santos" %>

<section class="section">
  <div class="container">
    <% if @posts.size > 0 %>
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  <%= link_to post.title, post %>
                </p>
              </div>
            </div>
            <div class="content">
              <%= post.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div style="text-align: center">
        Você ainda não criou nenhum post. <a href="<%=new_post_path%>">Criar post</a>.
      </div>
    <% end %>
  </div>
</section>